nav {
    width: 100vw;
    height: 6rem;
    background-color: var(--color-white);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    display: grid;
    place-items: center;
    box-shadow: 0 .3rem .7rem var(--color-black-100);
}

.nav__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo h1 {
    color: var(--color-black-200);
    font-family: 'Fredoka One', cursive;
}

.nav__links {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.nav__links li {
    margin: 0 1.5rem;
}

.nav__links li a {
    color: var(--color-black-200);
    font-size: 1.6rem;
    text-transform: capitalize;
    font-weight: 600;
    transition: var(--transition);
}

.nav__links li a:hover {
    color: var(--color-gray-100);
}

.hamburger-btn {
    color: var(--color-black-200);
    font-size: 2rem;
    transition: var(--transition);
    cursor: pointer;
    display: none;
}

.nav__links li a.active-link {
    color: var(--color-gray-200);
}

/* media queries */
@media (max-width:1024px) {
    .hamburger-btn {
        display: inline-block;
    }

    .nav__links {
        position: absolute;
        flex-direction: column;
        top: 100%;
        right: -100%;
        gap: 1.5rem;
        justify-content: center;
        width: 30rem;
        height: 100vh;
        background-color: var(--color-gray-300);
        transition: var(--transition);
    }

    .nav__links li {
        margin: 1.2rem 0;
    }

    .nav__links li a {
        color: var(--color-white);
    }

    .nav__links li a.active-link {
        color: var(--color-white);
    }

    .nav__links.active {
        right: 0;
    }

}